<style>
.erb-main-content {
    position: relative;
  min-height: 100vh;
  }

  .content-wrap {
    padding-bottom: 1.5rem;
  }

  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 3rem; */
}

.footer-p{
   margin: auto !important;
   width: 100%;
 }

.btn-col{
  margin: auto !important;
}

.btn{
  margin: 10px;
  float: right;
}

label{
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.col{
  max-width: 350px;
}

.card{
  max-width: 700px;
  margin: auto;
}

@media(max-width: 490px){
  .display-2{
    font-size: 3rem !important;
  }
}
</style>

<div class='erb-main-content'>
 <%= render 'layouts/navbar' %>
  <%= alert %>
  <div class="container content-wrapper mt-2">
    
      <div class="card">
        <div class="card-body">
          <h1 class="display-2 text-center">Add Teams</h1>
          <%= form_tag "/tournaments/#{params[:tournament_id]}/teams", method: :post do %>
          <% @n.times do %>
          <%= render 'group_team_form' %>
          <% end %>
          <div class='col btn-col'>
          <br>
            <%= submit_tag "Create Teams" , class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 
  </div>
  <br>
  <br>
  <footer class="py-4 bg-dark footer">
    <div class="container footer-p">
      <p class="m-0 text-center text-white footer-container">Copyright &copy; Tournament Wizard 2020</p>
    </div>
  </footer>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>