<h1><%= @team.tournament.name %></h1>
<% @team.players.each do |p| %>
<%= "Golfer #{@n+=1}: #{p.name}" %>
<% end %>

Score:
<%= @team.holes.each do |hole| %>
<%= "Hole #{@n+=1}: #{hole.score}" %>
<% end %>
<%= "Total Score:" %>

