<h1><%= @tournament.name %></h1>
<h4>Entry Fee:<%= @tournament.entry_fee %>
<h4>Number of Golfers on a Team:<%= @tournament.players_on_team %></h4>
<h2>Teams</h3>
<% @teams.each do |team|%>
<% @g=0 %>
<%= form_for team do |f| %>
<% team.players.each do |p| %>
<%= "Golfer #{@g+=1}: #{p.name}" %>
<% end %>
<%= f.check_box :paid %>
<%= f.check_box :mulligan %>
<%= hidden_field_tag :signups, true %>
<%= f.submit %>
<% end %>
<% end %>
