<%= alert %>
<br>
<h1><%= @team.tournament.name %></h1>
<% @team.players.each do |p| %>
<%= "Golfer #{@n+=1}: #{p.name}" %>
<% end %>


<%= form_tag '/holes', method: :post do %>
<% @team.tournament.holes_per_round.times do%>
<%= render 'group_hole_form' %>
<br>
<% end %>
<%= hidden_field_tag "round[team_id]", @team.id %>
<%= submit_tag "submit" %>
<% end %>
