  <% team.players.each do |player| %>
  <p class='h3'><strong><%= player.name %></strong></p>
  <% end %>
  <% team.rounds.each do |round| %>
  <% @h=0 %>
    <u><%= "Round #{@r+=1}" %></u><br>
      <div class='table-responsive'>
  <table class="table table-bordered">

    <tr>
      <% round.holes.each do |hole| %>
      <th><%= "Hole #{@h+=1}" %></th>
      <% end %>
      <th>Round Total</th>
    </tr>
    <tr>
      <% round.holes.each do |hole| %>
      <td><%= "#{hole.score}" %></td>
      <% end %>
      <td><%= "#{round.round_total}" %></td>
       </tr>
  </table>
  </div>
      <% end %>
   
