<% if @tournament.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tournament.errors.count, "error") %>
      prohibited this tournament from being saved:
    </h2>

    <ul>
    <% @tournament.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

<%= form_for @tournament do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :date %>
<%= f.date_field :date %>
<%= f.label :entry_fee %>
<%= f.number_field :entry_fee %>
<%= f.label :players_on_team %>
<%= f.number_field :players_on_team%>
<%= f.label :number_of_rounds %>
<%= f.number_field :number_of_rounds %>
<%= f.label :holes_per_round %>
<%= f.number_field :holes_per_round %>
<br>
<br>
<%= f.hidden_field :user_id, value: session[:user_id] %>
<%= f.submit %>
<% end %>