<%= render 'layouts/navbar' %>

<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3 text-center"><%= @tournament.name %></h1>
    <p class="lead">Date: <%= @tournament.pretty_date %></p>
    <p class="lead">Entry Fee: $<%= @tournament.entry_fee %></p>
    <p class="lead">Number of Rounds: <%= @tournament.number_of_rounds %></p>
    <p class="lead"><%= @tournament.holes_per_round %> hole tournament</p>
  </header>

  <h4>Teams</h4>
  <% @tournament.teams.each do |team|%>
  <br>
  <% @r=0%>
  <h5><u><%= "Team #{@n+=1}" %></u></h5>

<%= render partial: "scorecard", locals: {team: team} %>

  <%= link_to "Enter Team's Score", "/teams/#{team.id}/holes/round_entry", class: "btn btn-primary"%>
  <br>
  <p class=h3><%= "#{'Tournament Total:' if team.total_score !=0} #{ team.total_score if team.total_score != 0}" %></p>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <%= link_to "Tournament Results", "/tournaments/#{@tournament.id}/results", class: "w-100 btn btn-primary" %>
</div>
