<h1><%= @tournament.name %></h1>
<br>
<h4>Entry Fee: $<%= @tournament.entry_fee %></h4>

<h4>Players</h4>
<% @players.each do |p| %>
<%= p.name %>
<br>
<% end %>

<h4>Teams</h4>
<h6>Click on Team to edit</h6>
<% @tournament.teams.each do |team|%>
<br>
<%= "Team #{@n+=1}" %>
<%= link_to "Enter Team's Score", "/holes/round_entry/teams/#{team.id}"%>
<br>
----------------------------------
<% team.players.each do |player| %>
<%= player.name %>
<br>
<% end %>
<% team.holes.each do |hole| %>
<%= "Hole #{@h+=1}: #{hole.score}" %>
<% end %>
<% end %>
<br>
<br>

<br>
<br>
