<%= render 'layouts/navbar' %>

<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3 text-center"><%= @tournament.name %></h1>
  </header>

  <h3>Scores:</h3>
  <% @teams.each do |team, final_score| %>
  <h3><u> <%= "Final Score: #{team.total_score}" %></u></h3>

#------make partial with posting page-------
  <% team.players.each do |player| %>
  <p class='h4'><%= player.name %></p>
  <% end %>
  <% team.rounds.each do |round| %>
  <% @h=0 %>
  <br>
  <table class="table table-bordered">
    <u><%= "Round #{@r+=1}" %></u><br>
    <tr>
      <% round.holes.each do |hole| %>
      <th><%= "Hole #{@h+=1}" %></th>
      <% end %>
      <th>Round Total</th>
    </tr>
    <tr>
      <% round.holes.each do |hole| %>
      <td><%= "#{hole.score}" %></td>
      <% end %>
      <td><%= "#{round.round_total}" %></td>
  <% end %>
  </tr>
  </table>
  #------------
  
  <% @r=0%>
  <br>
  <% end %>
</div>
