<h1><%= @tournament.name %></h1>
<br>
<h4>Entry Fee: $<%= @tournament.entry_fee %></h4>

<h4>Players</h4>
<% @players.each do |p| %>
<%= p.name %>
<br>
<% end %>

<h4>Teams</h4>
<% @tournament.teams.each do |team|%>
-----------------------------------
<br>
<% team.players.each do |player| %>
<%= player.name %>
<br>
<% end %>
<% end %>
<br>
<br>

<%= link_to "Edit Tournament Details", edit_tournament_path(@tournament) %>
<br>
<br>
<%= link_to "Add Golfers to Clubhouse", players_number_path %>
