<style>
  .delete-tournament-btn{
    float: right;
    margin: auto;
  }

  .card-group{
    font-size: 2rem;
  }
  .jumbotron{
    padding: 2rem;
  }

  .erb-main-content {
    position: relative;
  min-height: 100vh;
  }

  .content-wrap {
    padding-bottom: 1.5rem;
  }

  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 3rem; */
}

.footer-p{
   margin: auto !important;
   width: 100%;
 }

.card-group{
  text-align: left;
}
</style>






<div class='erb-main-content'>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <header class="jumbotron my-4">
      <h1 class="display-4 text-center"><%= @tournament.name %></h1>
      <p class="lead">Date: <%= @tournament.pretty_date %></p>
      <p class="lead">Entry Fee: $<%= @tournament.entry_fee %></p>
      <p class="lead">Number of Rounds: <%= @tournament.number_of_rounds %></p>
      <p class="lead"><%= @tournament.holes_per_round %> hole tournament</p>
      <hr>
      <div class='row'>
        <div class='col-12'>
          <%= link_to "Add Teams to Tournament", "/tournaments/#{@tournament.id}/teams/number", class: "btn btn-primary my-2" %>
          <%= link_to "Start Check in", "/tournaments/#{@tournament.id}/players_teams/checkin", class: "btn btn-primary my-2" %>
          <%= link_to "Edit Tournament", edit_tournament_path(@tournament),class: "btn btn-primary my-2"   %>
          <%= link_to "Results", "/tournaments/#{@tournament.id}/results",class: "btn btn-primary my-2"   %>
        </div>
        <div class='col-sm-12 col-lg-12 col-md-12 align-self-end'>
          <%= button_to "Delete Tournament", tournament_path(@tournament), method: :delete, class: 'btn btn-danger delete-tournament-btn' %>
        </div>
      </div>
    </header>
    <div class="row text-center content-wrapper mb-4">
      <% @tournament.teams.each do |team|%>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lirp-cdn.multiscreensite.com/8e2fa297/dms3rep/multi/opt/Charity-Golf_Icon_Player_Green-640w.png" alt="trophy">
          <div class="card-body">
            <h4 class="card-title"><strong><u><%="Team #{@n+=1}"%></u></strong></h4>
            <% team.players.each do |player| %>
            <p class="card-group">- <%= player.name%></p>
            <% end %>
          </div>
          <div class="card-footer">
            <div class='row'>
              <div class='col'>
                <%= link_to "Edit Team", edit_team_path(team.id), class: "btn btn-primary" %>
              </div>
              <div class='col'>
                <%= button_to "Delete Team", team_path(team), method: :delete, class: "btn btn-danger"%>   
              </div>
            </div>
          </div>
        </div>
      </div>
<% end %>
    </div>
  </div>
<br>
<br>
  <footer class="py-4 bg-dark footer">
    <div class="container footer-p">
      <p class="m-0 text-center text-white footer-container">Copyright &copy; Tournament Wizard 2020</p>
    </div>
  </footer>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>



