<%= render 'layouts/navbar' %>
<body>
  <div class="container">
    <header class="jumbotron my-4">
      <h1 class="display-3 text-center"><%= @tournament.name %></h1>
      <p class="lead">Date: <%= @tournament.pretty_date %></p>
      <p class="lead">Entry Fee: $<%= @tournament.entry_fee %></p>
      <p class="lead">Number of Rounds: <%= @tournament.number_of_rounds %></p>
      <p class="lead"><%= @tournament.holes_per_round %> hole tournament</p>
      <%= link_to "Add Teams to Tournament", "/tournaments/#{@tournament.id}/teams/number", class: "btn btn-primary" %>
      <%= link_to "Start Check in", "/tournaments/#{@tournament.id}/players_teams/checkin", class: "btn btn-primary" %>
      <%= link_to "Edit Tournament", edit_tournament_path(@tournament),class: "btn btn-primary"   %>
      <%= link_to "Results", "/tournaments/#{@tournament.id}/results",class: "btn btn-primary"   %>
      <br>
      <br>
      <%= button_to "Delete Tournament", tournament_path(@tournament), method: :delete %>
    </header>
    <div class="row text-center">
      <% @tournament.teams.each do |team|%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://lirp-cdn.multiscreensite.com/8e2fa297/dms3rep/multi/opt/Charity-Golf_Icon_Player_Green-640w.png" alt="trophy">
          <div class="card-body">
            <h4 class="card-title"><strong><u><%="Team #{@n+=1}"%></u></strong></h4>
            <% team.players.each do |player| %>
            <p class="card-group"><%= player.name%></p>
            <% end %>
          </div>
          <div class="card-footer">
            <%= link_to "Edit Team", edit_team_path(team.id), class: "btn btn-primary" %>
            <%= button_to "Delete Team", team_path(team), method: :delete %>   
          </div>
        </div>
      </div>
<% end %>
    </div>
<br>
<br>
  </div>
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tournament Wizard 2020</p>
    </div>
  </footer>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>



