<h1><%= @tournament.name %></h1>
<h4>Entry Fee:<%= @tournament.entry_fee %>
<h4>Number of Golfers on a Team:<%= @tournament.players_on_team %></h4>
<h2>Teams</h3>

<table>
<tr>
    <th>Teams</th>
    <th>Paid</th>
    <th>Mulligan</th>
</tr>

<% @players.each do |player| %>
<%= form_for(player, url: "players/#{player.id}/signed-in") do |f| %>
<tr>
<td><%= f.text_field :name, disabled:1 %></td>
<td><%= f.check_box :paid %></td>
<td><%= f.check_box :mulligan %></td>
<td><%= f.submit %></td>

</tr>
<% end %>
<% end %>
</table>