<div class="card text-white bg-dark">
  <div class="card-body">
      <div class='row justify-content-center text-center'>
        <div class="field<%= ' field_with_errors' if @player.errors[:name].any? %>">
          <div class='col'>
            <%= label_tag "name", "Name" %>
            <%= text_field_tag "player[][name]",@player.name %>
          </div>
        </div>
      
        <div class='col'>
          Handicap:<%= text_field_tag "player[][handicap]", @player.handicap %>
          <%= hidden_field_tag "player[][user_id]", session[:user_id] %>
        </div>
      </div>
    </div>
</div>

