<style>
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

@media (max-width: 450px){
  .add-players-header {font-size: 2rem !important;}
}

.erb-main-content {
    position: relative;
  min-height: 100vh;
  }

  .content-wrap {
    padding-bottom: 1.5rem;
  }

  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 3rem; */
}

.footer-p{
   margin: auto !important;
   width: 100%;
 }

.how-many-btn{
  float: right;
}

</style>
<div class='erb-main-content text-center'>
<%= render 'layouts/navbar' %>
<h4 class='mt-2'><u><%= alert %></u></h4>
<div class="container content-wrap">
  <div class="jumbotron mt-4">
    <h1 class="display-3 text-center add-players-header">How many would you like to add?</h1>
    <main class="form-signin">
      <%= form_tag route, method: :post do %>
      <div class="form-group ">
      <%= number_field_tag :number, nil, class: "form-control my-3", placeholder:"number" %>
      <%= submit_tag "Submit", class: 'how-many-btn btn btn-primary' %>
      </div>
    </main>
      <% end %>
  </div>
</div>
<br>
<br>

  <footer class="py-4 bg-dark footer">
    <div class="container footer-p">
      <p class="m-0 text-center text-white footer-container">Copyright &copy; Tournament Wizard 2020</p>
    </div>
  </footer>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>

