
<% if @player.errors.any? %>
  <div id="error_explanation">
    <h2>
      An Error prohibited this article from being saved:
    </h2>

    <ul>
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 
<body>
<div class="card-deck">
<div class="card" style="width: 50rem;">
  <div class="card-body">
<h1 class="display-2">Edit Golfer</h1>

 <div class="card text-white bg-dark">
  <div class="card-body">

<%= form_for @player do |f| %>
<%= f.label :name %> 
<%= f.text_field :name %> 
<%= f.label :handicap %> 
<%= f.text_field :handicap  %>
<%= f.hidden_field :user_id, value: session[:user_id] %>
<%= f.submit %>
</div>
</div>
<% end %>
 </div>
 </div>
 </div>
</body>
