<h1>Edit Golfers</h1>
<%= form_for @player do |f| %>
<%= f.label :name %> 
<%= f.text_field :name %> 
<%= f.label :handicap %> 
<%= f.text_field :handicap  %>
<%= f.hidden_field :user_id, value: session[:user_id] %>
<%= f.submit %>
<% end %>