<h1>Add Player</h1>
<%= form_for @player do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :handicap %>
<%= f.number_field :handicap %>
<%= f.label :user_id %>
<%= f.number_field :user_id %>
<br>

<%= f.submit %>
<% end %>

<br>
<br>

<%= form_for @player do |f| %>
<% for x in @empty_players%>
<%= f.fields_for "new_player#{@n+=1}" do |ep| %>
      <%= ep.label :name %>
      <%= ep.text_field :name %>
      <%= ep.label :handicap %>
      <%= ep.number_field :handicap %>
      <%= ep.label :user_id %>
      <%= ep.number_field :user_id %>
<br>
<% end %>
<% end %>
<%= hidden_field_tag "total_player", @n %>
<%= f.submit %>
<% end %>
<br>
<br>

