<% if @player.errors.any? %>
  <div id="error_explanation">
    <h2>
      An Error prohibited this article from being saved:
    </h2>

    <ul>
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

<body>
<div class="card-deck">
<div class="card" style="width: 50rem;">
  <div class="card-body">
<h1 class="display-2">Add Golfers</h1>



<%= form_tag '/players', method: :post do %>
<% @n.times do%>
<%= render 'group_player_form' %>
<br>
<% end %>
<%= hidden_field_tag :number, @n %>
<%= submit_tag "submit" %>
<% end %>
 </div>
 </div>
 </div>
</body>




