<%= render partial: "layouts/error", locals: {instance: @player} %>

<div class="container">
  <body>
    <div class="card-deck">
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h1 class="display-2">Add Golfers</h1>
          <%= form_tag '/players', method: :post do %>
          <% @n.times do%>
          <%= render 'group_player_form' %>
          <br>
          <% end %>
          <%= hidden_field_tag :number, @n %>
          <%= submit_tag "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</div>


