<%= render 'layouts/navbar' %>

<div class="container">
  <header class="jumbotron my-4">
    <h1><%= @player.name %></h1>
    <h4>Handicap:
    <%= @player.handicap %></h4>
    <h4>Tournaments Played In</h4>
    <ul>
      <% @player.tournaments.each do |t|%>
      <li><%= t.name %></li>
      <% end %>
    </ul>
    <%= link_to "Edit Golfer", edit_player_path(@player), class: "btn btn-primary" %>
    <%= link_to "All Golfers", players_path, class: "btn btn-primary" %>
    <%= button_to "Delete Golfer", player_path(@player), method: :delete, class: "btn btn-danger" %> 
  </header>
</div>



